* {
	box-sizing: border-box;
}

body {
    width: 750px;
    margin: auto;
}

section.row {
    display: flex;
    flex-wrap: wrap;
    width:  750px;
    height: 255px;
}

section.row img {
    padding: 50px;
    background: #9E9E9E;
    margin: 5px;
    border-radius:  5px;
}

header h3 {
    text-align:  center;
    font-size:  30px;
    margin-top:  34px;
}