
* {
    box-sizing: border-box;
}

body {
    width: 750px;
    margin: auto;
}

header h3 {
    text-align:  center;
    font-size:  30px;
    margin-top:  34px;
}

section#content {
    background: #9E9E9E;
    border-radius:  5px;
    padding: 30px 10px;
    margin-top: 15px;
    margin-bottom:  23px;
}


section#footer {
    display:  flex;
    justify-content:  space-between;
}

#footer img {
    background: #9E9E9E;
    width: 235px;
    height: 235px;
    border-radius:  5px;
    margin-bottom:  40px;
    padding: 36px;
}

section#btn {
    display: flex;
    padding-bottom:  16px;
}


#top > img {
    float: left;
    margin-right: 50px;
    width: 300px;
    margin-bottom:  50px;
}

section#top {
    background: #9E9E9E;
    padding: 10px 30px;
    margin-bottom:  15px;
}